header {
    justify-content: center;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://cdn.pixabay.com/photo/2013/08/09/05/54/layer-170971_1280.jpg");
}
